SSL Resumption Support

Hi,

Does vernemq support ssl resumption (both session id and ticket). Is there a way to verify it?  We used ssyze for both https and xmpp, but seems there is no such tool for mqtt.

-
Thanks

Hi there,

please excuse our delayed response!
We rely on the SSL support that's built-in in Erlang OTP. It currently supports the following features:

- Supported SSL/TLS-versions are SSL-3.0, TLS-1.0, TLS-1.1, and TLS-1.2.
-     For security reasons SSL-2.0 is not supported.
-     For security reasons SSL-3.0 is no longer supported by default, but can be configured.
-     Ephemeral Diffie-Hellman cipher suites are supported, but not Diffie Hellman Certificates cipher suites.
-     Elliptic Curve cipher suites are supported if the Crypto application supports it and named curves are used.
-     Export cipher suites are not supported as the U.S. lifted its export restrictions in early 2000.
-     IDEA cipher suites are not supported as they have become deprecated by the latest TLS specification so it is not motivated to implement them.
-     CRL validation is supported.
-     Policy certificate extensions are not supported.
-     'Server Name Indication' extension client side (RFC 6066, Section 3) is supported.

I guess you'd have to use an SSL/TLS terminator in front of VerneMQ that supports 'ssl resumption'.

Hope this helps.

Best,
Andre